{% extends '../layout.njk' %}

{% block content %}

  <section class="fields-container">
    <div class="edit-chef">
      <h3>Editing chef</h3>
      <button class="delete-btn" type="submit" form="form-delete">Delete</button>
      <button type="submit" form="form-save">Save chef</button>
    </div>
  
    <form id="form-delete" method="post" action="/admin/chefs/?_method=DELETE">
      <input type="hidden" name="id" value="{{ chef.id }}">   
    </form>
    
    <form
      id="form-save"
      method="POST"
      action="/admin/chefs/{{chef.id}}?_method=PUT"
      enctype="multipart/form-data"
    >
      <input type="hidden" name="id" value="{{ chef.id }}">
     {% include '../parts/create-chef.njk' %}
    </form>

    <script>
      const formDelete = document.querySelector("#form-delete")
        formDelete.addEventListener("submit", function(event){
          const confirmation = confirm("Deseja apagar essa receita?");

          if(!confirmation){
            event.preventDefault()
          }
        });
    </script>  
  </section>
{% endblock %}
