{% extends './recipes.njk' %}

{% block content %}

  <form action="/admin/recipes" method="POST">
    <section class="recipe-infos">
        <div class="create-recipe admin">
          <h3>Creating recipe</h3>
          <button type="submit">Save recipe</button>
        </div>
      {% include './fields.njk' %}
    </section>
  </form>
 
 
 <script>
   function addIngredient() {
    const ingredients = document.querySelector("#ingredients");
    const fieldContainer = document.querySelectorAll(".ingredient");

    const newField = fieldContainer[fieldContainer.length - 1].cloneNode(true);
  
    if (newField.children[0].value == "") return false;

    newField.children[0].value = "";
    ingredients.appendChild(newField);
    }

    document
      .querySelector(".add-ingredient")
      .addEventListener("click", addIngredient);
  </script>
{% endblock %}