{% extends './recipes.njk' %}

{% block content %}

  <section class="recipe-infos">
    <div class="recipe-intro">
      <h3>Editing recipe</h3>
      <button class="delete-btn" type="submit" form="form-delete">Delete</button>
      <button type="submit" form="form-save">Save recipe</button>
    </div>
  
    <form id="form-delete" method="post" action="/admin/recipes?_method=DELETE">
      <input type="hidden" name="id" value="{{ recipe.id }}">   
    </form>
    
    <form id="form-save" method="POST" action="/admin/recipes_method=PUT">
      <input type="hidden" name="id" value="{{ recipe.id }}">
      {% include './fields.njk' %}
    </form>

    <script>
      const formDelete = document.querySelector("#form-delete")
        formDelete.addEventListener("submit", function(event){
          const confirmation = confirm("Deseja apagar essa receita?");

          if(!confirmation){
            event.preventDefault()
          }
        });
    </script>  
  </section>
{% endblock %}
