{% extends './layout.njk' %}

{%block content%}
  <section>
    <div class="show-recipe">
      <h3>Recipe: {{ recipe.title }}</h3>
      <a href="/recipes">Back</a>
    </div>

    <div class="img-container recipe">
      <img src="{{ recipe.src }}" alt="Image of {{ recipe.title }}">
    </div>
  </section>

  <section class="recipe-infos">
    <div class="title">
      <h2>{{ recipe.title }}</h2>
     <a href="/chefs/{{ recipe.chef_id }}">by {{ recipe.chef_name }}</a>
    </div>

    <div class="recipe-contents ingredients">
      <div class="ingredients">
        <h3>Ingredients</h3>
        <a class="card-hide">hide</a>
      </div>

      <div>
        <div class="recipe-steps">
        {% for ingredients in recipe.ingredients %}
          <p>- {{ ingredients }}</li>
          {% endfor%}
        </div>
      </div>
    </div>

    <div class="recipe-contents preparation">
      <div class="preparation">
        <h3>Preparation</h3>
        <a class="card-hide">show</a>
      </div>

      <div>
        <div class="recipe-steps">
          {% for steps in recipe.preparation %}
            <p>- {{ steps }}</li>
            {% endfor%}
        </div>
      </div>
    </div>

    <div class="recipe-contents information">
      <h3>Additional Information</h3>
      <a class="card-hide">hide</a>
      <p class="recipe-steps text">{{ recipe.information }}</p>
    </div>
  </section>
{%endblock%}
