{% extends 'layout.njk' %}

{% block content %}

  <div class="users-header">
    <h3>Usuários</h3>
    <a href="/admin/users/create">Novo</a>
  </div>

  <section class="users-container">
    {% for user in users %}
      <div class="user-card">
        <div>
          <p>{{user.name}}</p>
          <p>{{user.email}}</p>
        
          <a href="/admin/users/{{user.id}}">Editar</a>
          <form
            class="form-delete"
            method="POST"
            action="/admin/users?_method=DELETE"
          >
            <input type="hidden" name="id" value="{{user.id}}">
            <button class="remove" type="submit">Remover</button>
          </form>
        </div>
      </div> 
    {% endfor %}
  </section>
{% endblock %}
