{% extends 'layout.njk' %}

{% block head %}
  <title>About</title>
  <link rel="stylesheet" href="/styles/styles.css"/>
{% endblock %}

{% block content %}

  <div class="about-foodfy">
    <h1>About Foodfy</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel voluptas inventore libero quod officiis reiciendis, veniam doloribus ea omnis tempore adipisci enim unde, aspernatur quam consectetur dolorum. Fugiat, aut est!Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, placeat! Porro rerum magni explicabo, praesentium labore velit illo libero natus odio hic soluta neque impedit eligendi magnam et provident iure. Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse earum nostrum officia, omnis doloremque dolorum iusto ipsum?
    </p>
    <br>
    <p>
      Vel voluptas inventore libero quod officiis reiciendis, veniam doloribus ea omnis tempore adipisci enim unde, aspernatur quam consectetur dolorum. Fugiat, aut est!Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, placeat! Porro rerum magni explicabo, praesentium labore velit illo libero natus odio hic soluta neque impedit eligendi magnam et provident iure. Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse earum nostrum officia, omnis doloremque dolorum iusto ipsum?
    </p>

    <h3>Where it all began...</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel voluptas inventore libero quod officiis reiciendis, veniam doloribus ea omnis tempore adipisci enim unde, aspernatur quam consectetur dolorum. Fugiat, aut est!Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, placeat! Porro rerum magni explicabo, praesentium labore velit illo libero natus odio hic soluta neque impedit eligendi magnam et provident iure. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, placeat!
    </p>

    <h3>Our Recipes</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut sed sunt in nostrum quod odit cum consequatur et iusto, suscipit harum dolore? Error minima, nemo nesciunt similique dolorum autem nobis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, laudantium? Odit natus dignissimos eius, vitae facere deserunt, vero fugit minima accusantium, eveniet laborum illo! Esse, suscipit. Non libero magnam voluptatibus!
    </p>
  </div>
{% endblock %}
