{% extends 'layout.njk' %}

{% block head %}
  <title>Foodfy</title>
  <link rel="stylesheet" href="/styles/styles.css"/>
{% endblock %}

{% block content %}
  <section class="container">
    <div class="container-txt">
      <h1>The best recipes</h1>
      <p>Learn how to build the best dishes
        <br/>
        with recipes created by professionals
        <br/>
        from around the world.
      </p>
    </div>

    <div class="container-img">
      <img src="./assets/chef.png" alt="chef"/>
    </div>
  </section>

  <main id="recipes">
    <h2>Most accessed</h2>
    <div id="cards">
      {% for recipe in recipes %}
        <div class="recipe-card">
          <img src="{{ recipe.image }}" alt="Image of {{ recipe.title }}"/>
          <h3 class="recipe-title">{{ recipe.title }}</h3>
          <p class="author">by {{ recipe.author }}</p>
        </div>
      {% endfor %}
    </div>
  </main>

  <script src="/scripts/script.js"></script>
{% endblock %}
