{% extends 'layout.njk' %}

{% block head %}
  <title>Recipe - {{ item.title }}</title>
  <link rel="stylesheet" href="/styles/styles.css"/>
{% endblock %}

{% block content %}
  <div class="img-container">
    <img src="{{recipe.image_url}}" alt="Image of {{recipe.title}}">
  </div>

  <section class="hero-content">
    <div class="title">
      <h2>{{ recipe.title }}</h2>
      <p>by {{ recipe.author }}</p>
    </div>

    <div class="recipe-contents ingredients">
      <div class="ingredients">
        <h3>Ingredients</h3>
        <a class="card-hide">hide</a>
      </div>

      <div>
        <div class="recipe-steps hide">
          {% for ingredients in recipe.ingredients %}
            <p>- {{ ingredients }}</p>
          {% endfor%}
        </div>
      </div>
    </div>

    <div class="recipe-contents preparation">
      <div class="preparation">
        <h3>Preparation</h3>
        <a class="card-hide">show</a>
      </div>

      <div>
        <div class="recipe-steps hide">
          {% for steps in recipe.preparation %}
            <p>- {{ steps }} </p>
          {% endfor%}
        </div>
      </div>
    </div>

    <div class="recipe-contents information">
      <h3>Additional Information</h3>
      <a class="card-hide">hide</a>
      <p class="recipe-steps">{{ recipe.information }}</p>
    </div>
  </section>

  <script src="/scripts/script.js"></script>
{% endblock %}
