<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% include './parts/styles.njk' %}
  
    {% block head %}
      <title>Foodfy - Admin</title>
    {% endblock %}
  </head>

  <body>
    {% include './parts/header.njk' %}

    {%block content%}{%endblock%}
    
    <script src="/script.js"></script>
  </body>
</html>
