#header-container {
  width: 100%;
  background-color: #111111;
}

header {
  max-width: 94rem;
  text-decoration: none;
  margin: 0vh auto;
  min-height: 5vh;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 8rem;
  text-transform: uppercase;
  justify-content: space-between;
}

header nav div:first-child{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 56rem;
}

header nav a{
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #999999;
  cursor: pointer;
}

a[name="drop"] {
  margin: 0 0.8rem 0 0.8rem
}

header nav p:hover{
  color: #FFFFFF;
  transition: 250ms;
}

header .nav-item:hover{
  color: #FFFFFF;
  transition: 300ms;
}

.active {
  color: #FFFFFF;
}

header .logo {
  margin-right: 2rem;
}
