.about-foodfy {
  max-width: 94rem;
  margin: 0vh auto;
}

.about-foodfy h1 {
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #111111;
  margin-top: 4.6%;
}

.about-foodfy h3 {
  font-size: 2rem;
  line-height: 2.4rem;
  color: #111111;
  margin-top: 2.7%;
}

.about-foodfy p {
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #444444;
  margin-top: 1.8%;
}
