footer {
  padding: 1.8%;
  color: #999999;
  background-color: #eeeeee;
  min-width: 100%;
  text-align: center;
}

.rights-reserved {
  min-width: 100%;
  font-size: 1.4rem;
  line-height: 1.6rem;
  position: absolute;
  bottom: 0;
  height: 2.5rem;
}