<div>
  <div>
    <p>Name</p>
    <input type="text" name="name" value=" {{ chef.name }}">
  </div>

  <div>
    <p>Avatar</p>
      <input type="text" name="avatar_url" value=" {{ chef.avatar_url }}">
  </div>
 </div>