  <div id="header-container">
    <header>
      <nav>
        <a href="/" class="logo"><img src="/assets/logo-admin.png" alt="logo"/></a>
        <a href="/admin/recipes" class="nav-item">Recipes</a>
        <a href="/admin/chefs" class="nav-item">Chefs</a>
      </nav>
    </header>
  </div>