@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%; 
}

body {
  font-size: 1.6rem;
  color: #111111;
  margin: 0vh auto; 
}

a {
  text-decoration: none;
  color: inherit;
}


header {
  max-width: 94rem;
  text-decoration: none;
  margin: 5vh auto;
  min-height: 5vh; 
}

header nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

nav .logo {
  margin-right: auto;
}

.nav-item {
  margin-left: 3rem;
  padding: 0.5rem;
}

.nav-item:after {
  transition: all ease-in-out .2s;
  background: none repeat scroll 0 0 #df4a33;
  content: "";
  display: block;
  height: 0.2rem;
  width: 0;
}

.nav-item:hover:after {
  width: 100%;
  margin-top: 0.4rem;
  margin-bottom: -0.4rem;
}


.container {
  background-color: #FBDFDB;
  width: 94rem;
  height: 36.6rem;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 4px 8px 0 rgb(172, 172, 172), 0 6px 10px 0 rgb(172, 172, 172);
}

.container-txt h1 {
  padding-top: 21.6%;
  padding-left: 13%;
  padding-bottom: 0.9%;
  font-size: 3.2rem;
  line-height: 3.8rem;
}

.container-txt p {
  padding-left: 13%;
  margin-top: 0.9%;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #000000;
  opacity: 80%;
}

.container-img {
  display: grid;
  justify-content: center;
  align-items: end; 
}


#recipes {
  max-width: 94rem;
  margin: 5vh auto;
}

#recipes h2 {
  margin-bottom: -2%;
}

#cards {
  max-width: 94rem;
  margin: 5vh auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2%;
}

.recipe-card {
  cursor: pointer;
  margin-top: 2rem;
}

.recipe-card img {
  border-radius: 1.5rem;
  width: 30rem;
  height: 14rem;
  box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey;
}

.recipe-card img:hover {
  box-shadow: 4px 4px 8px 0px #df4a33, 0 6px 20px 0 #df4a33;
}

.recipe-card h3 {
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-weight: 400;
  margin-bottom: 2%;
  margin-top: 4%;
}

.recipe-card p {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 400;
  margin-bottom: 3%;
  color: #777777;
}


.rights-reserved {
  background-color: #EEEEEE;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #999999;
  text-align: center;
  padding: 2%;
  margin-top: 4%;
}

