@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%; 
}

body {
  font-size: 1.6rem;
  color: #111111;
  margin: 0vh auto; 
}

a {
  text-decoration: none;
  color: inherit;
}


header {
  max-width: 94rem;
  text-decoration: none;
  margin: 5vh auto;
  min-height: 5vh; 
}

header nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

nav .logo {
  margin-right: auto;
}

.nav-item {
  margin-left: 3rem;
  padding: 0.5rem;
}

.nav-item:after {
  transition: all ease-in-out .2s;
  background: none repeat scroll 0 0 #df4a33;
  content: "";
  display: block;
  height: 0.2rem;
  width: 0;
}

.nav-item:hover:after {
  width: 100%;
  margin-top: 0.4rem;
  margin-bottom: -0.4rem;
}


#recipes {
  max-width: 94rem;
  margin: 5vh auto;
}

#cards {
  max-width: 94rem;
  margin: 5vh auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2%;
  margin-top: 6%;
}

.recipe-card {
  cursor: pointer;
}

.recipe-card img {
  border-radius: 1.5rem;
  width: 30rem;
  height: 14rem;
  box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey;
}

.recipe-card img:hover {
  box-shadow: 4px 4px 8px 0px #df4a33, 0 6px 20px 0 #df4a33;
}


.recipe-card h3 {
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-weight: 400;
  margin-bottom: 2%;
  margin-top: 4%;
}

.recipe-card p {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 400;
  margin-bottom: 7%;
  color: #777777;
}


.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.modal {
  background-color: white;
  width: 66rem;
  height: 40rem;
  margin: 21vh auto;
  position: relative;
  border-radius: 1.6rem;
  text-align: center;
}

.modal-img {
  width: 60rem;
  height: 20rem;
  border-radius: 16px;
  margin: 4% 2.1% 1.8% 2.1%;
}

.modal-title {
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #111111;
}

.recipe-author {
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #777777;
  margin-top: 1%;  
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.close-modal {
  margin-top: 9%;
}

.close-modal span {
  cursor: pointer;
  color: #999999;
  font-size: 1.6rem;
  line-height: 1.8rem;
}


.rights-reserved {
  background-color: #EEEEEE;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #999999;
  text-align: center;
  padding: 1.8%;
  margin-top: 6.8%;
}