<link rel="stylesheet" href="/styles/foodfy/index.css">
<link rel="stylesheet" href="/styles/foodfy/recipes.css">
<link rel="stylesheet" href="/styles/foodfy/footer.css">
<link rel="stylesheet" href="/styles/foodfy/about.css">
<link rel="stylesheet" href="/styles/foodfy/chefs.css">
