{% extends 'layout.njk' %}

{%block content%}
  <div class="recipes-header">
    <h3>Gerenciar receitas</h2>
    <a href="/admin/recipes/create">Nova receita</a>
  </div>

  {% include 'parts/recipes-list.njk' %}

{%endblock%}
    